@charset "UTF-8";

/*共通
----------------*/
body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}


.inner {
  width:80%;
  margin:0 auto;
}

.section_title {
  margin-bottom:5%;
  text-align:center;
  font-weight:200;
  font-family: 'Italianno', cursive;
  font-size:5rem;
}

.section {
  padding:5% 0;
}

/*HEADER
--------------*/
.header_wrapper {
  width:100%;
  background-color:#FFFEF9;
}

.header_container {
  display:flex;
  justify-content:space-between;
}

.header_logo {
  padding:10px 0;
}

.header_logo:hover {
    cursor: pointer;
    opacity: 0.5;
  }

.header_nav {
  display:flex;
  align-items: center;
}

.header_nav ul {
  display: table;
  
  
}

.header_nav ul li {
  padding-right:30px;
  display:table-cell;
  text-align:center;
}

.header_nav ul li a {
  display: inline-block;
  font-weight: 400;
}

.header_nav ul li a:hover {
  color: #888;
  border-bottom: solid 2px #ddd;
}

/*TOP
----------------*/
.top_wrapper {
  position:relative;
  background-color:#A7B19B;
  width:100%;
  height:100vh;
}

.top_img {
  position:absolute;
  z-index:1;
  top:5%;
  left:38%;
}

.top_logo img{
  background-color:#FFFEF9;
  position:absolute;
  z-index:2;
  top:30%;
  left:10%;
}

/*ABOUT
-----------------*/

.about_img_1 {
  position: relative;
}

.about_img_1::after {
  content: "";
  position: absolute;
  background: url("../img/about1.png") no-repeat center;
  background-size: cover;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
}

.about_img_2 {
  position: relative;
}

.about_img_2::after {
  content: "";
  position: absolute;
  background: url("../img/about2.png") no-repeat center;
  background-size: cover;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.txt {
  height:60vh;
  width:35%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-left:5%;
  text-align:left;
}

.txt_right {
  position:relative;
  left:55%;
}

.txt h3 {
  font-size:1.5rem;
  color:#000;
  margin-bottom:7.5%;
  border-bottom:solid 1px #555;
}

.txt p {
  color:#000;
}

/*MENU
-------------*/
.menu {
  background-color:#A7B19B;
}

.menu-txt {
  width:70%;
  margin:0 auto;
}

.menu_wrapper {
  display:flex;
  flex-direction: column;
}

.menu_content {
  position: relative;
  background-color:#FFFEF9;
  padding:5%;
  margin:5%;
  display:flex;
}

.menu_content img {
  border-radius: 5px;
}

.menu_content p {
  position:absolute;
  top:45%;
  left:60%;
  font-weight:500;
  font-size:1.2rem;
}

.button {
  text-align:center;
  padding:1.5%;
  background-color:#555555;
  border-radius: 10px;
  width: 25%;
  margin: 0 auto;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.button a {
  color:#fff;
}


/*EVENT
------------*/
.event_content {
  position:relative;
  height:80vh;
  margin-bottom:10%;
}

.event_right {
  background-color:#A7B19B;
  width:80%;
  height:80vh;
  z-index:1;
  position:absolute;
  top:0;
  right:0;
}

.event_txt {
  position:absolute;
  width:45%;
  top:20%;
  right:10%;
}

.event_img img {
  position:absolute;
  top:13%;
  left:5%;
  z-index:2;

}

.event_txt h3 {
  font-size:1.5rem;
}

.event_txt p {
  font-size:1.4rem;
}

.event_day {
  border-top:solid 1px #000;
  border-bottom:solid 1px #000;
  padding:5% 0;
  text-align:center;
  margin-top:3%;
}

/*ACCESS
----------------*/
.access_content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access_content p {
  padding:5% 0;
}

/*CONTACT
---------------*/
.contact {
  background-color:#A7B19B;
  margin-bottom:10%;
}

/*FOOTER
-------------*/
.footer {
  background-color: #444;
  padding: 30px 0;
  text-align: center;
  color: #FFFEF9;
}